.container {
    color: white;
}

.jumbotron-fluid {
    background-color: black;
    text-align: center;
}

.card-header {
    background-color: navy;
    color: white;
}

.btn-default {
    background-color: navy;
    color: white;
}